<!-- Использованы классы бустрапа для создания типовой навигации с логотипом -->
<!-- В дальнейшем тут будет создано полноценное меню -->
<nav class="navbar navbar-light" style="background-color: #ffffff">
    <div class="container">
        <a class="navbar-brand" href="index.html" style="text-decoration:none">
            <img src="img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <!-- тег span используется для добавления нужных стилей отдельным участкам текста -->
            <span>&#11093;</span>
        </a>
    </div>
</nav>